In [11]:
import os
print(os.getcwd())

C:\Users\USUARIO

In [12]:
import pandas as pd
df = pd.read_excel(r"C:\Users\USUARIO\ejemplo.xlsx")
df

        País       Capital Mayor.Ciudad
0  Argentina  Buenos Aires           Si
1     Brasil      Brasilia           No
2    Uruguay    Montevideo           Si